#menulist{
	list-style-type: none;
	display: block;
	overflow: hidden;
	width: 80%;
	margin: auto;
}
#menulist li{
	display: inline-block;
	margin-top: 20px;
	width: 10%;
	float:left;
}
#content{
	clear: left;
	width: 80%;
	margin: auto;
}
