#menulist{
	list-style-type: none;
	display: block;
	overflow: hidden;
	width: 80%;
	margin: auto;
}
#menulist li{
	text-align: center;
	display: block;
	margin-top: 20px;
	width: 10%;
	float:left;
}
#content{
	clear: left;
	width: 80%;
	margin: auto;
}
#logout{
	margin-left: 40px;
}

